$border-unit: calc(var(--size-unit)/2);
$font-unit: calc(3*var(--size-unit));

.button {
  position: relative;
  background-color: var(--paletteA);
  padding: 0 $font-unit;
  border: $border-unit solid var(--paletteB);
  border-radius: $font-unit;

  display:flex;
  align-items:center;
  justify-content:center;

  font-weight: 500;
  font-size: $font-unit;
  color: var(--paletteB);

  &:hover {
    cursor: pointer;
  }
}

.text {
  color: inherit;
  text-align: center;
  z-index: 1;
}

.selected {
  color: var(--paletteA);

  &:before {
    content: " ";
    position: absolute;
    top: $border-unit;
    left: $border-unit;
    right: $border-unit;
    bottom: $border-unit;
    background-color: var(--paletteB);
    border: $border-unit solid var(--paletteB);
    border-radius: calc(2*$font-unit/3);
  }
}

