$columns-unit: calc(40*var(--size-unit));
$rows-unit: calc(15*var(--size-unit));
$font-unit: calc(5*var(--size-unit));
$tag-unit: calc(2*var(--size-unit));


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.header {
  font-weight: 900;
  font-size: $font-unit;
  text-align: center;
  margin: 0 $font-unit $font-unit;
  
  color: var(--paletteB);
}

.answersContainer {
  width: $columns-unit;
  margin: $font-unit;
}

.playerTag {
  font-size: $tag-unit;
  background-color: var(--paletteB);
  color: var(--paletteA);
  border-radius:  $tag-unit;
  padding: var(--size-unit) $tag-unit;
  margin: 0 var(--size-unit);
}